.mainsix {
    margin-bottom: 10vh;
    text-align: justify;
    text-align: center;
    line-height: 1.5;
    font-family: serif;
    font-size: $textSize;
    color: $textColor;
}

.mb-3 {
    width: 20vw;
    padding-left: 30vw;
}