.ulfooter {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: $baseWidth;

    li {
        text-decoration: none;

        a {
            text-decoration: none;
        }
    }
}